.movie-container {
  display: flex;
  max-height: 279px;
  max-width: 451px;
  width: 100%;
  margin: 0 36px 36px 0px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.movie-container:nth-of-type(2n) {
  margin: 0 0 36px 0;
}

@media (max-width: 940px) {
  .movie-container {
    margin: 0 20px 20px 0;
    max-width: 388px;
    max-height: 245px;
    padding: 4px 8px 0 10px;
  }
  .movie-container:nth-of-type(2n) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 860px) {
  .movie-container {
    margin: 0 0 20px 0;
  }
}
.movie-img {
  max-width: 183px;
  max-height: 281px;
  margin: 0 20px 0 0;
}
@media (max-width: 940px) {
  .movie-img {
    display: none;
  }
}
.movie-description-content {
  width: 100%;
  max-width: 248px;
}

@media (max-width: 940px) {
  .movie-description-content {
    max-width: none;
  }
}

.movie-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 0;
  max-width: 238px;
  width: 100%;
}

@media (max-width: 940px) {
  .movie-title-block {
    max-width: none;
    margin: 0;
  }
}

.movie-title {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

.movie-score {
  border-radius: 50%;
  border: 2px solid #e9d100;
  padding: 8px 6px;
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.movie-score-red {
  border-color: #e90000;
}
.movie-score-orange {
  border-color: #e97e00;
}
.movie-score-yellow {
  border-color: #e9d100;
}
.movie-score-green {
  border-color: #66e900;
}

.movie-date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
  margin: 7px 0 7px 0;
}

.movie-category-container {
  display: flex;
  margin: 0 0 7px 0;
  flex-wrap: wrap;
}

.movie-category {
  margin: 0 8px 5px 0;
  padding: 2px 3px 3px 5px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  color: rgba(0, 0, 0, 0.65);

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.65);
  max-height: 20px;
}

.movie-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  height: 129px;
  margin: 0 20px 1px 0;

  font-family: 'Inter';
  font-style: normal;
  color: #000000;
}

.ant-rate {
  position: absolute;
  bottom: 17px;
}

.image-block {
  display: none;
}

@media (max-width: 940px) {
  .image-block {
    display: block;
    max-width: 60px;
    max-height: 91px;
    margin: 0 13px 0 0;
  }

  .movie-immage-title-block {
    display: flex;
  }

  .ant-rate {
    right: 15px;
  }

  .title-block {
    width: 100%;

  }
}
