:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs > div > .ant-tabs-nav {
  max-width: 146px;
  margin: 0 auto;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  width: 146px;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs .ant-tabs-tab-btn {
  width: 64px;
  text-align: center;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 16px;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs-top > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1hpnbz2).ant-tabs-top > div > .ant-tabs-nav::before {
  max-width: 144px;
}
