.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 860px) {
  .movie-list {
    flex-direction: column;
  }
}
.movie-container-list {
  display: flex;
  flex-direction: column;
}
.ant-alert-error {
  background: #fff2f0;
  border: 1px solid #ffccc7;
  margin: 15px 0 40px 0;
  width: 340px;
  text-align: center;
}

.ant-spin-spinning {
  margin-bottom: 15px;
}

.ant-pagination-center {
  padding-top: 10px;
}
