.ant-pagination-center {
  padding: 0 0 17px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-alert-warning {
  position: absolute;
  min-width: 500px;
  left: 29.5%;
  top: 10%;
  text-align: center;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  max-width: 146px;
  margin: 0 auto;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  width: 146px;
}

.ant-tabs .ant-tabs-tab-btn {
  width: 64px;
  text-align: center;
}

.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 16px;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  max-width: 144px;
}
